body{
background-color:white;
font-family:sans-serif;
font-size:1.2em;
padding:5px;
}

header{
width:80%;
background-color:black;
color:white;
margin-right:auto;
margin-left:auto;
padding:5px;
border-color:black;
border-style:solid;
border-size:4px;
overflow:visible;
}

section{
width:80%;
background-color:white;
color:black;
margin-right:auto;
margin-left:auto;
padding:5px;
border-color:black;
border-style:solid;
border-size:2px;


}

footer{
width:80%;
color:white;
background-color:black;
margin-right:auto;
margin-left:auto;
padding:5px;
border-color:black;
border-style:solid;
border-size:4px;
}

img{
margin:5px 350px 5px 350px;

}

p{
margin:5px;
}

hgroup{
margin:5px;
}